.dashboard-container {
  padding: 20px;
  color: #1e293b;
  margin-top: 65px;
  background-color: rgb(232, 248, 248);
}

.dashboard-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}


.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.stat-card h3 {
  font-size: 16px;
  color: #64748b;
}

.stat-number {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}


.charts-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-box {
  background: #fff;
  height: 220px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #94a3b8;
  font-size: 18px;
  margin-bottom: 30px;
}


.table-section {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.table-section h3 {
  margin-bottom: 15px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  padding: 14px;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
}

.dashboard-table th {
  background: #f8fafc;
  font-weight: 600;
}


.badged {
  padding: 4px 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
}

.success {
  background: #16a34a;
}

.warning {
  background: #f59e0b;
}

.danger {
  background: #dc2626;
}
